<%- include('inc/header'); -%>

<div class="container">
    <div class="text-center mt-5 mb-3">
        <h1 class="mt-5 mb-4"><b>Strona główna</b></h1>
        <div>
            <p class="lead text-start">
                Jest to przejrzysty i łatwy w obsłudze system przetargowy. Jego główną funkcją jest wyświetlanie
                listy trwających przetargów i umożliwianie składania w nich ofert. Dzięki swojej budowie pozwala na
                automatyczne rozstrzyganie po zakończeniu przetargu. W prosty sposób można również tworzyć nowe
                przetargi.
            </p>
        </div>
    </div>
</div>

<%- include('inc/footer'); -%>